## SETS

A set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as hash table.

In [1]:
# Defining an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
sset = {1,3,4,2,3,4}
print(sset) # prints only the unique numbers

{1, 2, 3, 4}

In [4]:
set_var = {'Avengers', 'Iron Man', 'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'Iron Man'}

set

Indexing is not a feature of set so you can't use the index number to retrieve a set.

### Inbuilt Functions in set

In [7]:
set_var.add('Hulk')
set_var

{'Avengers', 'Hitman', 'Hulk', 'Iron Man'}

In [17]:
set1 = {'Avengers', 'Iron Man', 'Hitman'}
set2 = {'Avengers', 'Iron Man', 'Hitman', 'Hulk'}

In [19]:
set2.intersection(set1) # common elements

{'Avengers', 'Hitman', 'Iron Man'}

In [20]:
set1.union(set2) # combined elements

{'Avengers', 'Hitman', 'Hulk', 'Iron Man'}

In [13]:
# Difference
set2.difference(set1) # set2 - set1

{'Hulk'}

In [14]:
set1.difference(set2) # set1 - set2

set()

In [15]:
# Difference update
set2.difference_update(set1)

In [16]:
set2

{'Hulk'}

## Dictionaries

A dictionary is a collection that is unordered, changable and indexed. In python dictionaries are written in curly brackets, and they have keys and values.

In [6]:
dic={}

In [7]:
type(dic)

dict

In [14]:
type(dict())

dict

In [8]:
set_ex={1,2,3,4}

In [9]:
type(set_ex)

set

In [25]:
# Let's create a dictionary(manual way)
my_dict={'adi':'me','ken':'2','kel':'er'}

In [26]:
type(my_dict)

dict

In [27]:
# Access the items based on keys
my_dict['adi']

'me'

In [28]:
# We can loop through the dictionary keys

for x in my_dict:
    print(x)

adi
ken
kel

In [30]:
# We can even loop through the dictionary values

for x in my_dict.values():
    print(x)

me
2
er

In [31]:
# We can also print both keys and values 

for x in my_dict.items():
    print(x)

('adi', 'me')
('ken', '2')
('kel', 'er')

In [32]:
my_dict['ken'] = 'someone else'

In [34]:
my_dict

{'adi': 'me', 'ken': 'someone else', 'kel': 'er'}

## Nested Dictionary

In [35]:
TVSeries1 = {'The Good Place':2016}
TVSeries2 = {'Friends':1994}
TVSeries3 = {'The Big Bang Theory':2007}

TVSeries = {'1':TVSeries1, '2':TVSeries2, '3':TVSeries3}

In [36]:
print(TVSeries)

{'1': {'The Good Place': 2016}, '2': {'Friends': 1994}, '3': {'The Big Bang Theory': 2007}}

In [37]:
print(TVSeries['2'])

{'Friends': 1994}

In [38]:
print(TVSeries['3']['The Big Bang Theory'])

2007

## Tuples

Tuples are immutable so they can't be changed once they are defined

In [39]:
# create empty tuples

my_tuple = tuple()

In [40]:
type(my_tuple)

tuple

In [41]:
my_tuple=()

In [42]:
type(my_tuple)

tuple

In [43]:
my_tuple = ('Hell', 'Magnus', 'Samriah', 'Blitzen', 'Thor')

In [45]:
my_tuple[2] = 'Hi' # Won't work because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [52]:
# Inbuilt Function 

# shows the number of times the element occurred
print(my_tuple.count('Hell'))
print(my_tuple.count('Hel'))

1
0

In [51]:
print(my_tuple.index('Hell')) # shows index of the element

0