# Python Data Structures and Boolean

- Boolean Variables
- Boolean and logical operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables

Boolean values are the two constant objects False and True

They are used to represent truth values(other values can also be considered False or True).

In numeric contexts (for example, when used as an argument for the arithmetic operator), they behave like integers 0 and 1, respectively.

The build-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value. They are written as <b>False</b> and <b>True</b>, respectively

In [1]:
print(True, False)

True False

In [2]:
type(True)

bool

In [3]:
type(False)

bool

In [4]:
my_strt=' Adithyan S Raj '

In [5]:
my_strt.strip()

'Adithyan S Raj'

In [6]:
my_str='Adithyan S Raj'

Some String operations that give you a boolean variable as output:

In [7]:
print(my_str.isalnum()) # checks if all charecters are alphanumeric
print(my_str.isalpha()) # checks if all charecters in the string are alphabetic
print(my_str.islower()) # tests if the string contains lowercase digits
print(my_str.isupper()) # tests if the string contains uppercase digits
print(my_str.isdigit()) # tests if the string contains digits
print(my_str.isspace()) # tests if the string contains spaces
print(my_str.endswith('j')) # tests if the string ends with a j
print(my_str.startswith('A')) # tests if the string starts with a A

False
False
False
False
False
False
True
True

In [8]:
my_str='Adiboy123'

In [9]:
my_str.isalnum()

True

In [10]:
my_str.istitle() # what this means is that the first charecter is Capitalized or title-cased

True

In [11]:
my_strt.isspace() or my_str.isalnum()

True

## Lists

A list is a Data Structure in python that is mutable, or changable, ordered sequence of elements. Each element or value which is inside it is called an item. It is defined between square brackets []

In [12]:
type([])

list

In [13]:
lst = [] # one way to define an empty list

In [14]:
type(lst)

list

In [15]:
lst1 = list() # another way to do it

In [16]:
type(lst1)

list

In [17]:
lst = ['Mathematics', 'Physics', 2, 3, 3.42]

In [18]:
len(lst)

5

In [19]:
type(lst)

list

## Append

In [20]:
# append will add elements to the end of the list
lst.append('Adi')

In [21]:
lst

['Mathematics', 'Physics', 2, 3, 3.42, 'Adi']

In [24]:
# Indexing in List
lst[3]

'kenya'

In [28]:
lst[:] # prints all the elements

['Mathematics', 'Physics', 2, 'kenya', 'kenya', 3, 3.42, 'Adi']

In [29]:
lst[1:] # prints all the elements from index 1 to the end

['Physics', 2, 'kenya', 'kenya', 3, 3.42, 'Adi']

In [30]:
lst[:4] # prints all the elements upto index 3 including 3

['Mathematics', 'Physics', 2, 'kenya']

In [31]:
lst[1:5] # prints the elements between index 1 and 5, including 1 and excluding 5

['Physics', 2, 'kenya', 'kenya']

In [32]:
lst.append(['Samurai','Nippon'])

In [34]:
lst

['Mathematics',
 'Physics',
 2,
 'kenya',
 'kenya',
 3,
 3.42,
 'Adi',
 ['Samurai', 'Nippon']]

## Insert

In [25]:
# to add elements in a certain order use insert
lst.insert(3, 'kenya') # adds 'kenya' to index 3

In [26]:
lst

['Mathematics', 'Physics', 2, 'kenya', 'kenya', 3, 3.42, 'Adi']

## Extend

In [35]:
lst = [1,2,3,4,5,6]

In [42]:
lst.extend({'killer', 'peanut butter'}) # can apppend elements from a set

In [43]:
lst

[1, 2, 3, 4, 5, 6, 'killer', 'peanut butter', 4, 5, 'killer', 'peanut butter']

In [45]:
lst.extend((4,5)) # can append elements from a tuple also any iterable is fine

In [46]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 'killer',
 'peanut butter',
 4,
 5,
 'killer',
 'peanut butter',
 4,
 5,
 4,
 5]

In [47]:
lst.extend([3,4,[5,3,5,[34,5]]])

In [48]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 'killer',
 'peanut butter',
 4,
 5,
 'killer',
 'peanut butter',
 4,
 5,
 4,
 5,
 3,
 4,
 [5, 3, 5, [34, 5]]]

## Various operations you can do in a list

In [53]:
lst = [1,2,3,4,5,6,7]

In [54]:
sum(lst)

28

In [77]:
lst*4 # appends the list 4 times

[1,
 2,
 3,
 3,
 4,
 5,
 5,
 5,
 5,
 7,
 1,
 2,
 3,
 3,
 4,
 5,
 5,
 5,
 5,
 7,
 1,
 2,
 3,
 3,
 4,
 5,
 5,
 5,
 5,
 7,
 1,
 2,
 3,
 3,
 4,
 5,
 5,
 5,
 5,
 7]

## Pop method

In [57]:
lst.pop() # returns the last element and removes it from the list

6

In [58]:
lst

[1, 2, 3, 4, 5]

## count method

It calculates the total occurence of a given element on the list

In [65]:
lst = [1,2,3,3,4,5,5,5,5,7]
lst.count(5) # counts the number of times integer 5 occurs in the list

4

In [66]:
len(lst) # calculates total length of the list

10

In [68]:
lst.index(7) # returns the index of the first occurence

9

In [72]:
lst.index(5,7) # returns the index of the first occurence after index 7

7

In [73]:
lst.index(3,3,6) # returns the index of the first occurence between indices 3 and 6

3

In [74]:
min(lst) # minimum element in the list

1

In [75]:
max(lst) # maximum element in the list

7